*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--Montserrat-light);
  font-size: 20px;
}

body {
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

/* Ici c'est pour les 3 fichiers back réuni */

.container-back {
  border: solid 3px black;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
}

.titre-back {
  text-align: center;
  color: blue;
  font-size: 30px;
  padding: 20px;
  font-family: var(--Montserrat-bold);
}

.admin-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-buttons-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-back {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  padding: 15px 30px;
  margin-left: 43%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #1a4f7d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(51, 153, 255, 0.2);
  transition: all 0.3s ease;
}

.button-back-1 {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  padding: 15px 30px;
  margin-left: 43%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #1a4f7d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(51, 153, 255, 0.2);
  transition: all 0.3s ease;
}

.button-back-2 {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #1a4f7d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(51, 153, 255, 0.2);
  transition: all 0.3s ease;
  margin: 10px;
}

.button-back-3 {
  display: inline-block;
  max-width: 250px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #1a4f7d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(51, 153, 255, 0.2);
  transition: all 0.3s ease;
  margin: 10px;
}

.button-back-4 {
  display: inline-block;
  max-width: 250px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #1a4f7d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(51, 153, 255, 0.2);
  transition: all 0.3s ease;
}

.button-back-5 {
  display: inline-block;
  max-width: 250px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #1a4f7d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(51, 153, 255, 0.2);
  transition: all 0.3s ease;
}

.button-back-1:hover,
.button-back-2:hover,
.button-back-3:hover,
.button-back-4:hover,
*.button-back-5:hover {
  background-color: #2672cc;
  box-shadow: 0 6px 15px rgba(38, 114, 204, 0.3);
}

.formulaire-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-admin {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  background-color: gray;
  color: black;
  border-radius: 5px;
  border: none;
}

.input-admin::placeholder {
  color: black;
  opacity: 1;
}

textarea.input-admin {
  height: 100px;
}

.input-admin-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.input-admin-group label {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 14px;
  color: #333;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
  width: 1000px;
}

.title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  color: #1a73e8;
}

.similaire-backend {
  padding: 200px;
  text-align: center;
}

.sup-backend-titre {
  text-align: center;
  padding: 50px;
  font-size: 35px;
}

.sup-backend {
  text-align: center;
  padding: 50px;
}

/* Media queries pour les boutons des admins  */

@media (max-width: 600px) and (min-width: 349px) {
  .admin-buttons {
    display: flex;
    flex-direction: column;
  }
}
