:root {
  --primary-text-color: black;
  --secondary-text-color: white;
  --background-color-main: white;
  --background-color-secondary: #262626;
  --background-color-tertiary: black;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--Montserrat-light);
  font-size: 20px;
}

body {
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

/* Pour faire en sorte que les deux liens sois l'un sur l'autre */

.form-section {
  display: none;
}

.form-section.active {
  display: block;
}

/* Connexion et Inscription */

.background-container-compte {
  background-image: url(../img/fond-gris.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  width: 380px;
  height: 420px;
  background: black;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
}

.container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #1a4f7d, #1a4f7d);
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
}

.container::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #cb1414, #cb1414);
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
  animation-delay: 3s;
}

@keyframes animate {
  100% {
    transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 4px;
  border-radius: 8px;
  background: black;
  z-index: 10;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  text-align: center;
  letter-spacing: 0.1em;
  color: white;
}

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 35px;
}

.inputBox input {
  width: 100%;
  padding: 10px 10px 10px;
  background: transparent;
  border-color: #1a4f7d;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1em;
  outline: none;
  color: white;
}

input[type="submit"] {
  border: 1px solid #fff;
  background: #1a4f7d;
  color: white;
  cursor: pointer;
  margin-top: -10px;
}

input[type="submit"].button-connexion {
  margin-top: 20px;
}

.compte-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.compte-link {
  padding: 0 10px;
  color: black;
  cursor: pointer;
}

.fidelite {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 50px;
}

/* Media compte */

@media (max-width: 400px) {
  .compte-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
  }

  .inputBox input {
    width: 100%;
    margin-left: -10px;
  }

  .container {
    position: relative;
    width: 300px;
    height: 420px;
    background: black;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px auto;
  }

  input[type="submit"].button-connexion {
    margin-left: 5px;
  }
}
