*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--Montserrat-light);
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

/* Pour faire en sorte que les deux liens sois l'un sur l'autre */

.form-section {
  display: none;
}

.form-section.active {
  display: block;
}

/* .container-formulaire {
  border: solid 3px black;
}

form {
  display: flex;
  border: solid 3px red;
  flex-direction: column;
  padding: 50px;
  width: 50%;
  text-align: center;
} */

/* Connexion et Inscription */

.container {
  position: relative;
  width: 380px;
  height: 420px;
  background: black;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
}

.container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, blue, blue);
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
}

.container::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, red, red);
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
  animation-delay: 3s;
}

@keyframes animate {
  100% {
    transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 4px;
  border-radius: 8px;
  background: black;
  z-index: 10;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  text-align: center;
  letter-spacing: 0.1em;
  color: white;
}

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 35px;
}

.inputBox input {
  width: 100%;
  padding: 10px 10px 10px;
  background: transparent;
  border-color: blue;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1em;
  outline: none;
  color: white;
  /* border: solid 3px red; */
}

input[type="submit"] {
  border: 1px solid #fff;
  background: blue;
  color: #fff;
  cursor: pointer;
  margin-top: -10px;
}

input[type="submit"].button-connexion {
  margin-top: 20px;
}

/* input#email,
input#password {
  color: white;
} */

.compte-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.compte-link {
  padding: 0 10px;
  color: black;
  cursor: pointer;
}

.fidelite {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 50px;
}
