:root {
  --primary-text-color: black;
  --secondary-text-color: white;
  --background-color-main: white;
  --background-color-secondary: #262626;
  --background-color-tertiary: black;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--Montserrat-light);
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

/* Contact */

.background-container-contact {
  background-image: url(../img/fond-gris.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.titre-contact {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 50px;
}

.retour-accueil {
  color: white;
}

.container {
  position: relative;
  width: 100px;
  height: 300px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
}

.container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #1a4f7d, #1a4f7d);
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
}

.container::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #cb1414, #cb1414);
  transform-origin: bottom right;
  animation: animate 7s linear infinite;
  animation-delay: 3s;
}

@keyframes animate {
  100% {
    transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 4px;
  border-radius: 8px;
  background: black;
  z-index: 10;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  color: white;
}

.form h2 {
  text-align: center;
  letter-spacing: 0.1em;
  color: white;
}

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 35px;
}

.inputBox input,
.inputBox textarea,
.inputBox select {
  width: 100%;
  padding: 5px 10px 10px;
  background: transparent;
  border-color: #1a4f7d;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1em;
  outline: none;
  color: white;
}

input[type="text"] {
  color: white;
}

input[type="submit"] {
  border: 1px solid white;
  background: #1a4f7e;
  color: white;
  cursor: pointer;
  text-align: center;
}

input[type="submit"].button-connexion {
  /* margin-top: -60px; */
}

input#email,
input#datetime-local {
  color: white;
}

.container {
  padding: 200px;
  margin-bottom: 50px;
}

.formulaire-contact {
  color: white;
}

::-webkit-input-placeholder {
  color: white;
}

select option[value="particulier"],
select option[value="profesionnel"],
select option[value="telephone"],
select option[value="email"] {
  background-color: black;
  color: white;
}

/* Les deux liens qui bouge selon le click */

.contact-lien {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.contact-link {
  padding: 0 10px;
  color: white;
  cursor: pointer;
}

.container-contact {
  display: none;
}

.container-contact.active {
  display: block;
}

/* Media contact */

@media (max-width: 560px) {
  .contact-lien {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
  }

  .inputBox input,
  .inputBox textarea,
  .inputBox select {
    width: 100%;
    margin-left: -10px;
  }

  .container-contact {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .container {
    padding: 210px 110px;
    margin: 20px auto;
  }
}
