:root {
  --primary-text-color: black;
  --secondary-text-color: white;
  --background-color-main: white;
  --background-color-secondary: #262626;
  --background-color-tertiary: black;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--Montserrat-light);
  font-size: 20px;
}

body {
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  transform-style: preserve-3d;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: auto;
}

/* Section avec effet parallax */

.section1 {
  width: 100%;
  min-height: 60vh;
  position: relative;
  transform-style: preserve-3d;
  margin-top: 80px;
}

.section1::before {
  content: "";
  width: 100%;
  height: 215px;
  position: absolute;
  background: url(../img/fond.jpg) top center no-repeat;
  background-size: cover;
  transform: translateZ(-1px) scale(2.2);
  filter: blur(1px);
}

.section1 .text-description {
  top: 10%;
  transform: translateZ(-0.5px) scale(1.5, 1.6) translate(-33%, 10%);
}

/* Texte avec effet parallax */

.text-description {
  padding-bottom: 30%;
  left: 50%;
  top: 20%;
  position: absolute;
  font-family: var(--Montserrat-bold);
  font-size: 150px;
  color: var(--secondary-text-color);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 2px 5px rgba(0, 0, 0, 0.5),
    0 4px 10px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.3),
    0 15px 30px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, 10%);
  z-index: 1;
}

/* Section pour la déscription */

.img-description {
  height: 700px;
  width: 70%;
  padding-left: 500px;
}

.text-descriptif {
  text-align: center;
  padding: 30px;
}

.container-description {
  /* padding: 50px; */
  border: solid 3px black;
  width: 70%;
  margin: 50px 250px;
}

/* Etoiles */

.container-etoile {
  margin: 190px auto;
  width: 400px;
  padding-top: 50px;
}

.container-etoile > * {
  float: right;
}

.container-etoile label {
  height: 40px;
  width: 20%;
  display: block;
  position: relative;
  cursor: pointer;
}

.container-etoile label::after {
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: "☆";
  color: var(--secondary-text-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 80px;
  -webkit-animation: 1s pulse ease;
  animation: 1s pulse ease;
}

.container-etoile label:hover::after {
  color: yellow;
  text-shadow: 0 0 15px black;
}

.container-etoile input {
  display: none;
}

.container-etoile input:checked + label::after,
.container-etoile input:checked ~ label::after {
  content: "★";
  color: yellow;
  text-shadow: 0 0 20px yellow;
}

/* Pour les produits suggérés */

.produit-suggeres {
  text-align: center;
  font-size: 25px;
}
