:root {
  --primary-text-color: black;
  --secondary-text-color: white;
  --background-color-main: white;
  --background-color-secondary: #262626;
  --background-color-tertiary: black;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--Montserrat-light);
  font-size: 20px;
}

body {
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  transform-style: preserve-3d;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: auto;
}

/* Section avec effet parallax */

.section1 {
  width: 100%;
  min-height: 50vh;
  position: relative;
  transform-style: preserve-3d;
  margin-top: 80px;
}

.section1::before {
  content: "";
  width: 100%;
  height: 215px;
  position: absolute;
  background: url(../img/fond.jpg) top center no-repeat;
  background-size: cover;
  transform: translateZ(-1px) scale(2.2);
  filter: blur(1px);
}

.section1 .text-description {
  top: 40%;
  transform: translateZ(-0.5px) scale(1.5, 1.6) translate(-33%, 10%);
}

/* Texte avec effet parallax */

.text-description {
  padding-bottom: 30%;
  left: 50%;
  top: 20%;
  position: absolute;
  font-family: var(--Montserrat-bold);
  font-size: 50px;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 2px 5px rgba(0, 0, 0, 0.5),
    0 4px 10px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.3),
    0 15px 30px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, 10%);
  z-index: 1;
}

/* Section pour la déscription */

.img-description {
  height: 400px;
  width: 30%;
  margin: 0 auto;
  display: block;
  padding: 30px;
}

.text-descriptif {
  text-align: center;
  padding: 30px;
}

.container-description {
  border: 1px solid #ccc;
  width: 50%;
  margin: 0 auto;
  display: block;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #f9f9f9, #ececec);
}

/* Pour les produits suggérés */

.produit-suggeres {
  text-align: center;
  font-size: 25px;
}

/* Media queries de la description  */

@media (max-width: 1000px) {
  .text-description {
    font-size: 30px;
    padding-bottom: 20%;
  }
  .img-description {
    height: 250px;
    width: 80%;
  }
  .container-description {
    width: 90%;
  }
  .text-descriptif {
    padding: 15px;
    font-size: 18px;
  }
  .img-description {
    width: 70%;
  }
}
