*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--Montserrat-light) !important;
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

/* Footer */

footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: black;
  border-top: solid 2px blue;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

/* Container footer */

.container-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: auto;
}

.titre-footer {
  color: white;
  font-size: 35px;
  font-family: var(--Montserrat-black);
  text-align: center;
  padding: 20px;
}

.text-footer {
  color: white;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;
}

.lien-footer {
  padding: 10px;
  text-align: center;
}

/* Container mension légale */

.container-mension {
  background-color: gray;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
}

.lien-mension {
  margin: 0 50px;
}
