*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--Montserrat-light);
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: red;
  font-family: var(--Montserrat-italic);
}

p {
  font-family: var(--Montserrat-bold);
}
