*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--Montserrat-light) !important;
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

/* Ici ce trouve le css de toute la partie Matériels et Engins/Outils  */

h1 {
  color: black;
  font-family: var(--Montserrat-bold);
}

/* Les cards design */

.wrapper-vetements {
  padding: 0 150px;
}

.card-area {
  padding: 0;
}

.box-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
  padding-bottom: 70px;
}

.box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  background-color: black;
}

.box .img-card {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #1c1c1c 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.overlay .titre-3 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-size: 30px;
  letter-spacing: 2px;
}

.overlay .lien-card {
  margin-top: 10px;
  color: blue;
  text-decoration: none;
  font-size: 14px;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  padding: 5px 5px;
}

.box:hover .img-card {
  transform: scale(1.2);
}

.box:hover .overlay {
  height: 100%;
}

.titre-3,
.text-card-3 {
  color: white;
}

.admin-buttons {
  margin-top: 10px;
}

.admin-buttons button {
  margin-right: 5px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-buttons button:hover {
  background-color: #0056b3;
}

/* Titre pour les categorie */

.titre-categorie {
  padding: 10px;
  font-size: 35px;
  font-family: var(--Montserrat-bold);
  text-align: center;
}
