:root {
  --ecriture: black;
  --background: white;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--Montserrat-light);
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #fff;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar-cote {
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
  position: relative;
  background-attachment: fixed;
  z-index: 1000;
}

.burger-menu-cote a:hover {
  color: gray;
}

.burger-menu-button img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.links .lien-cote {
  margin-right: 80px;
  font-weight: 600;
}

.lien {
  margin-left: auto;
  display: flex;
}

.lien-cote:hover {
  color: red;
}

.lien-cote a:hover {
  color: red;
}

.links .logo {
  margin-left: 20px;
}

.links a {
  color: black;
  text-decoration: none;
}

a.logo {
  color: blue;
  font-size: 30px;
  font-weight: bold;
}

.navbar-cote .links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.lien {
  margin-left: auto;
  display: flex;
}

/* Le sous-menu navbar pour le desktop */

.menu-nav {
  display: flex;
  align-items: center;
  position: relative;
}

.has-sous-nav {
  position: relative;
  margin: 15px;
}

.menu-nav .sous-nav,
.menu-nav .sous-nav-2 {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 42px;
  left: -30px;
  border-top: solid 1px black;
  background-color: black;
  z-index: 10;
  min-width: 150px;
  text-align: left;
  padding: 5px 0;
}

.menu-nav .sous-nav-1 {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 42px;
  left: -50px;
  border-top: solid 1px black;
  background-color: black;
  z-index: 10;
  min-width: 150px;
  text-align: left;
  padding: 5px 0;
}

.has-sous-nav:hover .sous-nav,
.has-sous-nav:hover .sous-nav-1,
.has-sous-nav:hover .sous-nav-2 {
  display: flex;
}

.has-sous-nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 5;
  background: transparent;
}

.sous-nav li a,
.sous-nav-1 li a,
.sous-nav-2 li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.sous-nav li a:hover,
.sous-nav-1 li a:hover,
.sous-nav-2 li a:hover {
  background-color: #dad3be;
}

.has-sous-nav .sous-nav:hover,
.has-sous-nav .sous-nav-1:hover,
.has-sous-nav .sous-nav-2:hover {
  display: flex;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Menu burger à caché */

.burger-menu-cote {
  display: none;
  top: 60px;
  right: 10px;
  width: 100%;
  max-width: 300px;
  background-color: black;
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.burger-menu-cote.open {
  display: none;
}

.burger-menu-cote {
  display: none;
}

.burger-menu-cote ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.burger-menu-cote a {
  padding: 1rem;
  display: block;
  text-align: center;
  color: white;
  background-color: black;
}

.logo a {
  display: block;
  text-align: center;
  margin: 10px;
  font-size: 35px;
  font-size: var(--Montserrat-light);
  color: white;
}

/* Bouton pour le Jour / Nuit */

.jour-nuit {
  background: none;
  border: none;
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding-right: 40px;
}

/* Test jour et nuit bouton */

#changeur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  width: 500px;
  height: 200px;
  background-color: #f9f9f9;
  border-radius: 500px;
  box-shadow: inset 1px 1px 20px 0px #00000028;
}

.cercle {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  transform: scale(0.9);
  background: linear-gradient(to bottom, #fff, #ecebeb);
  border-radius: 50%;
  box-shadow: 1px 1px 10px 2px #0000003f, inset 0.5px 0.5px 2px #0000003f;
  transition: 0.5s;
}

#changeur.active .cercle {
  left: 300px;
  background: linear-gradient(to bottom, #464545, #2d2c2c);
  box-shadow: 1px 1px 10px 2px #0000003f, inset 0.5px 0.5px 2px #0000003f;
}

#changeur.active {
  background-color: #323030;
  box-shadow: inset 1px 1px 20px 0px #000;
}

body.active {
  background-color: #1e1d1d;
}

/* CSS pour le menu-burger sous-nav */

.burger-menu-cote .has-sous-nav {
  position: relative;
}

.burger-menu-cote .sous-nav-1,
.burger-menu-cote .sous-nav-2 {
  display: none;
  flex-direction: column;
  background-color: black;
  padding-left: 20px;
}

.burger-menu-cote .sous-nav-1.open,
.burger-menu-cote .sous-nav-2.open {
  display: flex;
}

.burger-menu-cote a {
  padding: 15px;
  color: white;
  text-align: left;
}

.burger-menu-cote .sous-nav-1 li,
.burger-menu-cote .sous-nav-2 li {
  padding: 10px 15px;
}

.burger-menu-cote .sous-nav-1 li a,
.burger-menu-cote .sous-nav-2 li a {
  color: white;
}

.burger-menu-cote {
  display: none;
}

.has-sous-nav .sous-nav {
  display: none;
}

.has-sous-nav:hover .sous-nav {
  display: block;
}

/* Media pour navbar sur le cotê */

@media screen and (max-width: 1349px) and (min-width: 150px) {
  .navbar-cote .lien-cote,
  .navbar-cote .lien {
    display: none;
  }

  a.lien-cote {
    display: flex;
    flex-direction: column;
  }

  .links a {
    text-align: left;
  }

  .burger-menu-button img {
    display: block;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
  }

  .burger-menu-cote {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    width: 60%;
    max-width: 300px;
    padding: 20px;
    background-color: black;
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .burger-menu-cote a {
    background: none;
  }

  .burger-menu-cote.open {
    display: block;
    width: 250px;
  }

  .burger-menu-cote ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .sous-nav li a:hover,
  .sous-nav-1 li a:hover,
  .sous-nav-2 li a:hover {
    background-color: none;
  }

  .burger-menu-cote a {
    padding: 15px;
    display: block;
    text-align: center;
    color: white;
    width: 130%;
  }

  .lien-cote {
    margin: 10px 0;
  }

  /* .lien-cote li:hover {
    background-color: #dad3be;
  } */

  .logo a {
    display: block;
    text-align: center;
    margin: 10px;
    font-size: 35px;
    color: white;
    position: fixed;
  }

  /* Bouton pour le Jour / Nuit */

  .jour-nuit {
    background: none;
    border: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    padding-left: 30px;
    filter: invert(1);
    display: none;
  }

  .jour-nuit-svg {
    background: none;
    border: none;
    height: 20px;
    width: 180px;
    cursor: pointer;
    padding-left: 30px;
    filter: invert(1);
  }
}
