:root {
  --primary-text-color: black;
  --secondary-text-color: white;
  --background-color-main: white;
  --background-color-secondary: #262626;
  --background-color-tertiary: black;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: var(--Montserrat-light) !important;
  font-size: 20px;
}

body {
  background-color: var(--background-color-main);
}

html {
  scroll-behavior: smooth;
}

/* Header image  */

.img-propos {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.fleche-bas {
  height: 50px;
  width: 50px;
  position: relative;
  top: 200px;
  left: 90%;
  transform: translateX(-50%);
}

/* Section 1 et section 2 */

.titre-propos {
  text-align: center;
  font-family: var(--Montserrat-black), sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding: 40px 20px;
  color: var(--primary-text-color);
}

.text-propos {
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
  padding: 40px 20px;
  font-size: 18px;
  line-height: 1.8;
  color: var(--primary-text-color);
}

/* Slider des marques */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.slider {
  width: 90%;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.slider .slide-track {
  display: flex;
  width: calc(250px * 14);
  animation: scroll 25s linear infinite;
}

.slider .slide {
  height: 100px;
  width: 250px;
  padding: 10px;
}

.slider .slide .img-marque {
  width: 100%;
  height: 100px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: all 0.1s ease-in-out;
}

.slider .slide:hover .img-marque {
  filter: grayscale(0%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* Formulaire de newsletter et image */

#newsletter-section {
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #f3f4f6 30%, #ffffff);
}

.titre-2-news {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.text-news {
  font-size: 16px;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.conteneur-formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 30px 20px;
  background: var(--background-color-main);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.formulaire-news {
  text-align: center;
  width: 100%;
  margin: 0;
}

.newsletter input {
  width: 100%;
  padding: 15px 30px;
  border: 2px solid #ddd;
  font-size: 16px;
  color: black;
  border-radius: 25px;
  margin-bottom: 20px;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.newsletter input:focus {
  border-color: #1a4f7d;
  box-shadow: 0 4px 12px rgba(51, 153, 255, 0.3);
}

::-webkit-input-placeholder {
  color: black;
  text-align: center;
}

.bouton-news {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-text-color);
  background-color: #1a4f7d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(51, 153, 255, 0.2);
  transition: all 0.3s ease;
}

.bouton-news:hover {
  background-color: #2672cc;
  box-shadow: 0 6px 15px rgba(38, 114, 204, 0.3);
}

/* La section 3 */

.container-section-3 {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.titre-propos {
  font-size: 2.5rem;
  color: var(--primary-text-color);
}

.sub-title {
  font-size: 1.8rem;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.text-bas {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--primary-text-color);
  margin-bottom: 40px;
}

.img-container {
  text-align: center;
  margin: 40px 0;
}

.img-container img {
  max-width: 70%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Effect parallax essai */

.parallax-trios {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.parallax-item {
  text-align: center;
}

.img-parallax {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: solid 3px white;
  border-radius: 50%;
  margin-bottom: 10px;
}

.parallax-text {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

#parallax-1 {
  background-image: url(../img/img-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 13% 0;
}

.titre-parallax {
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.parallax-2 {
  background-image: url(../img/img-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-inner {
  padding: 13% 0;
}

p.text-parallax {
  font-size: 25px;
  color: #555;
  text-align: justify;
  line-height: 40px;
  margin: 0 50px 10px;
}

/* Media pour les icônes sur l'effet parallax */

@media (max-width: 660px) and (min-width: 530px) {
  .parallax-trios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: start;
  }
}

@media (max-width: 529px) and (min-width: 349px) {
  .parallax-trios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: start;
  }
}

/* Media Newsletter */

@media (max-width: 768px) {
  .container-formulaire {
    flex-direction: column;
    align-items: center;
  }
}

/* Media queries pour le header */

@media (max-width: 1349px) and (min-width: 1025px) {
  .animated-text {
    left: 30%;
  }

  .fleche-bas {
    height: 50px;
    width: 50px;
    position: relative;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1024px) and (min-width: 710px) {
  .animated-text {
    max-width: 20%;
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .auto-typing {
    font-size: 75px;
    color: var(--primary-text-color);
    position: absolute;
    left: 100%;
    top: 99px;
    display: inline;
    white-space: nowrap;
  }

  .fleche-bas {
    height: 50px;
    width: 50px;
    position: relative;
    top: 150px;
    left: 160%;
    transform: translateX(-50%);
  }
}

@media (max-width: 778px) and (min-width: 710px) {
  .fleche-bas {
    height: 50px;
    width: 50px;
    position: relative;
    top: 100px;
    left: 170%;
    transform: translateX(-50%);
  }
}

@media (max-width: 709px) and (min-width: 570px) {
  .animated-text {
    max-width: 20%;
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .auto-typing {
    font-size: 75px;
    color: var(--primary-text-color);
    position: absolute;
    left: 0%;
    top: 235px;
    display: inline;
    white-space: nowrap;
  }

  .fleche-bas {
    height: 50px;
    width: 50px;
    position: relative;
    top: 100px;
    left: 170%;
    transform: translateX(-50%);
  }
}

@media (max-width: 569px) and (min-width: 349px) {
  .animated-text {
    display: none;
  }

  .img-propos {
    display: none;
  }

  .fleche-bas {
    display: none;
  }
}

/* Media pour les titres et paragraphes */

@media (max-width: 1024px) and (max-width: 769px) {
  .titre-propos {
    font-size: 32px;
    padding: 30px 15px;
  }

  .text-propos {
    padding: 30px 15px;
    font-size: 16px;
  }
}

@media (max-width: 768px) and (min-width: 349px) {
  .titre-propos {
    font-size: 28px;
    padding: 20px 10px;
  }

  .text-propos {
    padding: 20px 10px;
    font-size: 14px;
    line-height: 1.6;
  }
}

/* Media pour les les textes autour de l'image au dessus du footer */

@media (max-width: 1160px) {
  .container-propos {
    flex-wrap: wrap;
  }

  .left-column,
  .right-column,
  .img-container {
    width: 100%;
  }

  .left-column,
  .right-column {
    max-width: 700px;
    margin: 0 auto;
  }

  .img-container img {
    height: auto;
    max-height: 400px;
  }

  .left-column,
  .right-column {
    margin-top: 20px;
  }
}

@media (max-width: 800px) and (min-width: 349px) {
  .container-propos {
    display: block;
    text-align: center;
  }

  .left-column,
  .right-column {
    width: 100%;
    padding: 10px;
    max-width: 90%;
    margin: 0 auto;
  }

  .img-container {
    width: 100%;
    margin: 20px auto;
  }

  .img-container img {
    height: auto;
    max-width: 80%;
  }

  .text-bas {
    font-size: 14px;
    line-height: 1.4;
  }

  .titre-parallax {
    font-size: 80px;
  }
}

/* Media pour le newsletter */

@media (max-width: 768px) and (min-width: 401px) {
  .conteneur-formulaire {
    padding: 20px 15px;
  }

  .newsletter input,
  .bouton-news {
    width: 100%;
  }
}

@media (max-width: 400px) and (min-width: 349px) {
  .conteneur-formulaire {
    padding: 15px 10px;
    width: 70%;
    max-width: 627px;
  }

  .newsletter input {
    padding: 12px 0px;
  }

  .bouton-news {
    font-size: 16px;
    padding: 12px 20px;
  }

  #newsletter-section {
    padding: 19px 10px;
  }
}

/* Section 3 */

@media (max-width: 768px) {
  .titre-propos {
    font-size: 2rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }

  .text-bas {
    font-size: 1rem;
  }
}
